<div>
    <div>
        <form (submit)="submit()">
            <input
                [(ngModel)]="path"
                name="file-path"
                type="text"
                placeholder="file path"
            >
            <button type="submit">Send</button>
        </form>
    </div>
    <div *ngIf="!pending">
        <table>
            <thead>
                <th>url</th>
                <th>http status code</th>
                <th>by elements</th>
                <th>by cookies</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of resultCMSes">
                    <td>{{item.url}}</td>
                    <td>{{item.loading ? 'Loading...' : item.statusCode }}</td>
                    <td>{{item.loading ? 'Loading...' : item.byElements }}</td>
                    <td>{{item.loading ? 'Loading...' : item.byCookies }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
