<div class="small-container">
    <div class="row">
        <div class="col-12 vertical-padding">
            <form
                (submit)="submit()"
                class="form-inline row align-items-left"
            >
                <div class="col-1">
                    <label
                        for="file-path"
                        class="col-form-label "
                    >
                        File Path:
                    </label>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input
                            [(ngModel)]="path"
                            class="form-control col-11"
                            name="file-path"
                            id="file-path"
                            type="text"
                            placeholder="file path"
                        >
                    </div>
                </div>
                <button
                    class="btn btn-outline-primary col-1"
                    type="submit"
                >
                    Check
                </button>
                <button
                    class="btn btn-link margin left col-2 text-left"
                    [routerLink]="['/','settings']"
                    type="button"
                >
                    Go to Settings
                </button>
            </form>
        </div>
        <div
            class="col-12"
            *ngIf="!pending"
        >
            <div class="table-responsive">
                <table class="table table-striped bordered-table">
                    <thead class="thead-dark">
                        <th scope="col">#</th>
                        <th scope="col">url</th>
                        <th scope="col">http status code</th>
                        <th scope="col">http status text</th>
                        <th scope="col">by elements</th>
                        <th scope="col">by cookies</th>
                        <th scope="col">by extra keywords</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of resultCMSes; let i=index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{item.url}}</td>
                            <td>
                                {{item.loading ? 'Loading...' : item.statusCode }}
                            </td>
                            <td>
                                {{item.loading ? 'Loading...' : item.statusText }}
                            </td>
                            <td>
                                {{item.loading ? 'Loading...' : item.byElements }}
                            </td>
                            <td>
                                {{item.loading ? 'Loading...' : item.byCookies }}
                            </td>
                            <td>
                                {{item.loading ? 'Loading...' : item.byExtraKey }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
