<div class="container">
    <div class="row">
        <div class="col-12 vertical-padding">
            <button
                class="btn btn-link left-margin col-1"
                [routerLink]="['/','detect']"
                type="button"
            >
                Go Back
            </button>
        </div>
        <div
            *ngFor="let cms of db.cmses.reverse()"
            class="col-12 margin bottom"
        >
            <div class="card">
                <div class="card-header text-center">
                    <h5>{{cms.name}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">by elements:</div>
                        <div class="col-10">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">selector</th>
                                        <th scope="col">attrabiute key</th>
                                        <th scope="col">attrabiute value (concat)</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of cms.els; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ el.selector}}</td>
                                            <td>{{ el.attrabiute }}</td>
                                            <td>{{ el.containsValue }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-right">
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-danger"
                    >
                        {{loading ? 'Loading' : 'Delete'}}
                    </button>
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-dark margin left"
                    >
                        {{loading ? 'Loading' : 'Edit'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
