<div class="container">
    <div class="row">
        <div class="col-12 vertical-padding">
            <button
                class="btn btn-link col-1"
                [routerLink]="['/','detect']"
            >
                Go Back
            </button>
            <button
                [disabled]="loading"
                class="btn btn-outline-primary col-2 margin left"
            >
                {{ loading ? 'Loading...' : '+ Add new CMS' }}
            </button>
        </div>
        <div
            *ngFor="let cms of db.cmses.reverse()"
            class="col-12 margin bottom"
        >
            <div class="card">
                <div class="card-header text-center">
                    <h5>{{cms.name}}</h5>
                </div>
                <div class="card-body">
                    <div class="row margin bottom">
                        <div class="col-3">
                            by elements:
                            <br>
                            <small class="text-muted">
                                some unique DOM elements only be found in these kinds of CMSes
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.els.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">selector</th>
                                        <th scope="col">attribute key</th>
                                        <th scope="col">attribute value (concat)</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of cms.els; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ el.selector}}</td>
                                            <td>{{ el.attribute }}</td>
                                            <td>{{ el.containsValue }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin bottom">
                        <div class="col-3">
                            by cookies:
                            <br>
                            <small class="text-muted">
                                some unique cookies only be set by these kinds of CMSes.
                                <br>
                                <span class="red">(</span>
                                if value isn't set, only the existence of cookie will be checked
                                <span class="red">)</span>
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.cookies.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">cookie key</th>
                                        <th scope="col">cookie value (concat)</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cookie of cms.cookies; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ cookie.key }}</td>
                                            <td>{{ cookie.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            by extra keywords:
                            <br>
                            <small class="text-muted">
                                some unique strings in these kinds of CMSes html. (include comments)
                                <br>
                                <span class="red">(</span>
                                use it if u really need this and have no other choices, because it will iterate over the entire html code
                                <span class="red">)</span>
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.extraKeywords.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">keyword</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let keyword of cms.extraKeywords; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ keyword }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-right">
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-danger"
                        (click)="deleteCMS(cms)"
                    >
                        {{loading ? 'Loading' : 'Delete'}}
                    </button>
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-dark margin left"
                        (click)="openModal(cms)"
                    >
                        {{loading ? 'Loading' : 'Edit'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    <div class="text-center">
        <h6 class="text-muted">empty</h6>
    </div>
</ng-template>

<rp-modal #modal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ cms.id ? 'Editing CMS' : 'New CMS' }}
                </h4>
                <button
                    type="button"
                    class="close"
                    [rp-close-modal]="modal"
                >
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for>CMS name</label>
                            <input
                                type="text"
                                [(ngModel)]="cms.name"
                                name="cms-name"
                                id="cms-name"
                                class="form-control"
                                placeholder="name"
                                aria-describedby="helpName"
                            >
                            <small
                                id="helpName"
                                class="text-muted"
                            >
                                the name of this cms
                            </small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card text-left">
                            <div class="card-header text-center">
                                <h5 class="card-title">Elements</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                          <label for=""></label>
                                          <input type="text" name="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    [rp-close-modal]="modal"
                >
                    Close
                </button>
            </div>

        </div>
    </div>
</rp-modal>
