<div class="container">
    <div class="row">
        <div class="col-12 vertical-padding">
            <button
                class="btn btn-link col-1"
                [routerLink]="['/','detect']"
            >
                Go Back
            </button>
            <button
                [disabled]="loading"
                class="btn btn-outline-primary col-2 margin left"
                (click)="openModal()"
            >
                {{ loading ? 'Loading...' : '+ Add new CMS' }}
            </button>
        </div>
        <div
            *ngFor="let cms of db.cmses.reverse()"
            class="col-12 margin bottom"
        >
            <div class="card">
                <div class="card-header text-center">
                    <h5>{{cms.name}}</h5>
                </div>
                <div class="card-body">
                    <div class="row margin bottom">
                        <div class="col-3">
                            by elements:
                            <br>
                            <small class="text-muted">
                                some unique DOM elements only be found in these kinds of CMSes
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.els.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">selector</th>
                                        <th scope="col">attribute key</th>
                                        <th scope="col">attribute value (concat)</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of cms.els; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ el.selector}}</td>
                                            <td>{{ el.attribute }}</td>
                                            <td>{{ el.containsValue }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin bottom">
                        <div class="col-3">
                            by cookies:
                            <br>
                            <small class="text-muted">
                                some unique cookies only be set by these kinds of CMSes.
                                <br>
                                <span class="red">(</span>
                                if value isn't set, only the existence of cookie will be checked
                                <span class="red">)</span>
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.cookies.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">cookie key</th>
                                        <th scope="col">cookie value (concat)</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cookie of cms.cookies; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ cookie.key }}</td>
                                            <td>{{ cookie.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            by extra keywords:
                            <br>
                            <small class="text-muted">
                                some unique strings in these kinds of CMSes html. (include comments)
                                <br>
                                <span class="red">(</span>
                                use it if u really need this and have no other choices, because it will iterate over the entire html code
                                <span class="red">)</span>
                            </small>
                        </div>
                        <div class="col-9">
                            <div
                                class="table-responsive"
                                *ngIf="cms.extraKeywords.length !== 0; else empty"
                            >
                                <table class="table table-striped bordered-table">
                                    <thead class="thead-dark">
                                        <th scope="col">#</th>
                                        <th scope="col">keyword</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let keyword of cms.extraKeywords; let i=index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{ keyword.word }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-right">
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-danger"
                        (click)="deleteCMS(cms)"
                    >
                        {{loading ? 'Loading' : 'Delete'}}
                    </button>
                    <button
                        [disabled]="loading"
                        class="btn btn-sm btn-outline-dark margin left"
                        (click)="openModal(cms)"
                    >
                        {{loading ? 'Loading' : 'Edit'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    <div class="text-center">
        <h6 class="text-muted">empty</h6>
    </div>
</ng-template>

<rp-modal #modal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ cms.id ? 'Editing CMS' : 'New CMS' }}
                </h4>
                <button
                    type="button"
                    class="close"
                    [rp-close-modal]="modal"
                >
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="cms-id">CMS name</label>
                        <input
                            type="text"
                            [(ngModel)]="cms.name"
                            name="cms-name"
                            id="cms-id"
                            class="form-control"
                            placeholder="CMS Name"
                            aria-describedby="helpName"
                        >
                        <small
                            id="helpName"
                            class="text-muted"
                        >
                            the name of this cms
                        </small>

                        <br>
                        <br>
                        if values are incorrect, that row will be ignored. also for removing even the first entry please make its fields empty
                    </div>
                    <div class="col-12 margin bottom">
                        <div class="card text-left">
                            <div class="card-header text-center">
                                <h5 class="card-title">Elements</h5>
                            </div>
                            <div class="card-body">
                                <div
                                    class="form-row"
                                    *ngFor="let el of cms.els; let i = index"
                                >
                                    <div class="form-group col-4">
                                        <label [for]="'el-selector-id-' + i">Selector</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="el.selector"
                                            [name]="'el-selector-' + i"
                                            [id]="'el-selector-id-' + i"
                                            class="form-control"
                                            placeholder="Element Selector"
                                        >
                                    </div>
                                    <div class="form-group col-3">
                                        <label [for]="'el-attribute-id-' + i">Attribute</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="el.attribute"
                                            [name]="'el-attribute-' + i"
                                            [id]="'el-attribute-id-' + i"
                                            class="form-control"
                                            placeholder="Element Attribute"
                                        >
                                    </div>
                                    <div class="form-group col-3">
                                        <label [for]="'el-value-' + i">Value (Contains)</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="el.containsValue"
                                            [name]="'el-value-' + i"
                                            [id]="'el-value-id-' + i"
                                            class="form-control"
                                            placeholder="Element Attribute Value"
                                        >
                                    </div>
                                    <div class="form-group col-2">
                                        <button
                                            class="btn btn-outline-primary col-12 form-element-without-label"
                                            *ngIf="i === 0; else removeBtn"
                                            (click)="addEntry(1)"
                                        >
                                            + Add
                                        </button>
                                        <ng-template #removeBtn>
                                            <button
                                                (click)="removeEntry(1, i)"
                                                class="btn btn-outline-danger col-12 form-element-without-label"
                                            >
                                                - Remove
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card text-left">
                            <div class="card-header text-center">
                                <h5 class="card-title">Cookies</h5>
                            </div>
                            <div class="card-body">
                                <div
                                    class="form-row"
                                    *ngFor="let cookie of cms.cookies; let i = index"
                                >
                                    <div class="form-group col-5">
                                        <label [for]="'cookie-key-id-' + i">Key</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="cookie.key"
                                            [name]="'cookie-key-' + i"
                                            [id]="'cookie-key-id-' + i"
                                            class="form-control"
                                            placeholder="Cookie key"
                                        >
                                    </div>
                                    <div class="form-group col-5">
                                        <label [for]="'cookie-value-id-' + i">Value (can be empty)</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="cookie.value"
                                            [name]="'cookie-value-' + i"
                                            [id]="'cookie-value-id-' + i"
                                            class="form-control"
                                            placeholder="Cookie value"
                                        >
                                    </div>
                                    <div class="form-group col-2">
                                        <button
                                            class="btn btn-outline-primary col-12 form-element-without-label"
                                            *ngIf="i === 0; else removeCookieBtn"
                                            (click)="addEntry(2)"
                                        >
                                            + Add
                                        </button>
                                        <ng-template #removeCookieBtn>
                                            <button
                                                (click)="removeEntry(2, i)"
                                                class="btn btn-outline-danger col-12 form-element-without-label"
                                            >
                                                - Remove
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card text-left">
                            <div class="card-header text-center">
                                <h5 class="card-title">Keywords</h5>
                            </div>
                            <div class="card-body">
                                <div
                                    class="form-row"
                                    *ngFor="let keyword of cms.extraKeywords; let i = index"
                                >
                                    <div class="form-group col-10">
                                        <label [for]="'word-id-' + i">Word</label>
                                        <input
                                            type="text"
                                            [(ngModel)]="keyword.word"
                                            [name]="'word-' + i"
                                            [id]="'word-id-' + i"
                                            class="form-control"
                                            placeholder="Keyword"
                                        >
                                    </div>
                                    <div class="form-group col-2">
                                        <button
                                            class="btn btn-outline-primary col-12 form-element-without-label"
                                            *ngIf="i === 0; else removeWordBtn"
                                            (click)="addEntry(3)"
                                        >
                                            + Add
                                        </button>
                                        <ng-template #removeWordBtn>
                                            <button
                                                (click)="removeEntry(3, i)"
                                                class="btn btn-outline-danger col-12 form-element-without-label"
                                            >
                                                - Remove
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    [disabled]="loading"
                    [rp-close-modal]="modal"
                >
                    {{ loading ? 'Loading' : 'Close' }}
                </button>
                <button
                    type="button"
                    class="btn btn-outline-success"
                    [disabled]="loading"
                    (click)="save()"
                >
                    {{ loading ? 'Loading' : 'Save' }}
                </button>
            </div>

        </div>
    </div>
</rp-modal>
